[submodule "ryankoval.com"]
	path = ryankoval.com
	url = git@github.com:rkoval/ryankoval.com.git
[submodule "order-me-pizza"]
	path = order-me-pizza
	url = git@github.com:rkoval/order-me-pizza.git
[submodule "rooooney"]
	path = rooooney
	url = git@github.com:rkoval/rooooney.git
[submodule "wedding-website"]
	path = wedding-website
	url = git@github.com:rkoval/wedding-website.git
